fastapi>=0.110.0
uvicorn[standard]

sqlalchemy>=2.0.0
psycopg2-binary
asyncpg

pydantic>=2.0.0
python-dotenv

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langgraph

groq

faiss-cpu

sentence-transformers
transformers
torch

numpy
pandas
scikit-learn

requests
httpx
beautifulsoup4
lxml

PyPDF2
pdfplumber

yfinance
newsapi-python

networkx

python-multipart

sec-edgar-downloader
feedparser